@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../Assets/background.png");
    background-repeat: repeat;
    background-position: center;
    background-size: fill;
  
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 39px;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(240, 248, 255, 0.218);
    border: none;
    border-radius: 50px;
    margin-top: 4px;
}

nav{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
}

.logo{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navList{
    list-style: none;
}

.navList li{
    display: inline-block;
    padding: 0px 20px;

}


.navList li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color:#ecf0f1


}

.navList li a:hover{
    color: #0088a9;
    animation: navLink 0.22s ease forwards;
}

.navButton{
    padding: 9px 25px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #ecf0f1;
    border-radius: 50px;
    cursor: pointer;
    color: #ecf0f1;
    transition: all 0.3s ease 0s;
}

.navButton:hover{
    background-color: rgba(240, 248, 255, 0.8);
    color: #0088a9;
}

@keyframes navLink {
    100%{
        font-size: larger;
    }
}

.gameHeading{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #ecf0f1;
    text-align: center;
    margin-top: 50px;
}

.gameHeading:hover{
    transform: scale(1.1);
    animation: gameHeadingAnimation 1s ease alternate-reverse infinite;

}

@keyframes gameHeadingAnimation {
    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}

.grid{
    background-color: white;
    height: 500px;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    display: grid;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-collapse: collapse;
}

.outline{
    border: 0.1px solid black;
}

.menu{
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resetButton{
    margin: 1px auto;
    padding: 10px 20px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #ecf0f1;
    border-radius: 50px;
    cursor: pointer;
    color: #ecf0f1;
    transition: all 0.3s ease 0s;    
}

.resetButton:hover{
    background-color: rgba(240, 248, 255, 0.8);
    color: #0088a9;
}

#sliderValue{
    color:white;
    font-family: "Montserrat", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.menu label{
    color:white;
    font-family: "Montserrat", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.sliderBox{

    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;

}

.sliderBox:hover{
    background-color: rgba(240, 248, 255, 0.8);
    color: #0088a9;
}

.colorBox{
    padding: 10px;
    margin: 10px;
}

.eraseButton{
    margin: 1px auto;
    padding: 10px 20px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #ecf0f1;
    border-radius: 50px;
    cursor: pointer;
    color: #ecf0f1;
    transition: all 0.3s ease 0s;    
}

.eraseButton:hover{
    background-color: rgba(240, 248, 255, 0.8);
    color: #0088a9;
}

.toggleButton{
    margin: 1px auto;
    padding: 10px 20px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #ecf0f1;
    border-radius: 50px;
    cursor: pointer;
    color: #ecf0f1;
    transition: all 0.3s ease 0s;    
}

.toggleButton:hover{
    background-color: rgba(240, 248, 255, 0.8);
    color: #0088a9;
}

